.carousel {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 100px;
  overflow-x: scroll;
  width: 330px;
}

.image-recomended {
  height: 150px;
  padding: 10px;
  width: 150px;
}
